#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  color: rgba(153, 222, 222, 0.861);
}

main {
  display: flex;
  flex-direction: column;
}

.Board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.player-turn {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.Square {
  align-items: center;
  background-color: #242424;
  border: 2px solid white;
  border-radius: 0.3rem;
  color: white;
  display: flex;
  font-size: 2rem;
  justify-content: center;
  margin: 0.5rem;
  width: 5.7rem;
  height: 5.7rem;
}

.Selected {
  background-color: rgba(130, 235, 235, 0.861);
  color: rgb(43, 43, 43);
}

.Winner {
  align-items: center;
  background-color: rgba(130, 235, 235, 0.861);
  border: 2px solid white;
  border-radius: 0.3rem;
  color: rgb(43, 43, 43);
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  margin: auto;
  width: 10rem;
}

footer {
  align-self: center;
  background-color: #242424;
  border: 2px solid white;
  border-radius: 0.3rem;
  color: white;
  margin: 0.5rem;
  padding: 1rem;
  width: 5rem;
}

footer:hover {
  background-color: rgba(147, 196, 213, 0.601);
  color: black;
  cursor: pointer;
  transition: 0.3s;
}